*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
}
.container{
    height: 90vh;
    width: 90vw;
    margin: 0 5%;
    background-color: rgb(228, 227, 227);
}

header{
    height: 10rem;
    width: 100%;
    background-color: #fdd5d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h3{
    margin: 0 25%;
}
.main{
    height: 5rem;
    width: 100%;
    background-color: #ff9fa0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
}

.secondp{
    margin-left:30%;
}
.firstp{
    width: 12rem;
    margin-right:20%;
    display: flex;
    flex-direction: row;
}
.lastStep{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin: .2rem 5%;    
}

.form-group {
    margin-left: 15%;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
}
.lbl-text{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: .5rem .5%;
    
    width: 5rem;

}
.lbl-text::before{
    content: "*";
    color: red;
   
    
}
.col-10 {
    width: 80%;
    padding: 0 .1rem;
    display: flex;
    margin: .5rem 0;
    height: 4rem;
    flex-direction: column;
    
  }
  .form-control{
      width: 98%;
      height: 3rem;
      font-size: large;
      padding: 0 5px;
      border-style: none;
  }

  span{
      opacity: .6;
      font-size: large;
  }
  button{
      width: 7rem;
      margin: 0 .5rem;
      background-color: #e25659;
      height: 3rem;
      border-style: none;
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
  }