* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cedcf0;
}

.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 70rem;
  width: 100%;
  background-color: #cedcf0;
}
.containers {
  font-family: sans-serif;
}

.kunden {
  height: 10rem;
  background-color: #cedcf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
a {
  font-family: sans-serif;
  float: left;
  margin: 0 28%;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.2rem;
 
}

.method {
  
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #648bc7;
 
}

.inpCust {
  position: absolute;
  height: 3rem;
  font-size: 1.3rem;
  width: 50%;
  border-radius: 15px;
  padding: 1rem 0.5rem;
  outline: none;
 
}

.form-group {
  background-color: #acbfdb;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 32rem;
  width: 25rem;
  border-radius: 30px;
  
}
.sect-details {
  height: 20rem;
  display: flex;
  width: 100%;
}
.sect-details p {
  font-size: 2rem;
}


.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 20%;
}
.contact-details p {
 margin-left: 76%;
}

.trigger {
  background-color: #648bc7;
  height: 3rem;
  color: white;
  font-size: 1.8rem;
  border-radius: 15px;
  border-style: none;
}

label {
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem 0.5rem;
  margin-left: 5%;
  font-size: large;
  width: 12rem;
}


#forGrid {
  display: grid;
  margin: 3rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  #forGrid {
    display: grid;
    margin: 1rem 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  #forGrid {
    display: grid;
    margin: 1rem 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  #forGrid {
    display: grid;
    margin: 1rem 3rem;
    grid-template-columns: 1fr;
  }
}

.main {
  margin-right: 1rem;
  margin-top: 2rem;
}
.main h2 {
  margin: 1rem 1rem;
}

.cust-info {
  display: flex;
  height: 4rem;
  align-items: center;
}

.inp-info {
  height: 3rem;
  margin: 0 1rem;
  font-size: large;
  width: 25rem;
}

/*---------------------Contact Styles-------------------*/
.body1{
  background-color: #F1DFDC;
}
.containers {
  height: 90vh;
  width: 100%;

  
}

header {
  height: 10rem;
  width: 100%;
  background-color: #fdd5d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-groups {
  background-color: white;
  width: 25rem;
  height: 80%;
  border-radius: 20px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h3 {
  margin: 0 25%;
  font-size: 2rem;
}

.mains {
  height: 5rem;
  width: 100%;
  background-color: #EE705C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: white;
}
.main1 {
  height: 35rem;
  
}
.main1 h2 {
  margin: .5rem 1rem;
  padding: .5rem 0;
}



.status {
  height: 78%;
  background-color: #faf6f4;
  margin: 2% 15%;
  width: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sect-details {
  display: flex;
  flex-direction: row;
  margin: 3rem 15%;
}

.sect-detail p {
  font-size: 1.2rem;
}

span {
  opacity: 0.5;
  font-size: 1.2rem;
  margin: 0.2rem;
}
